

<div class="container">
<h3>Add something to join the fray</h3>
<form action="/upload" method="POST" enctype="multipart/form-data" >
  Name: <input type="text" name="name" required><br />
  Image: <input type="file" class="dropzone" name="file"><br />
  <input type="submit" value="Upload">
</form>
</div>